/*****************************/
/* IMPORTS */
@import "../../variables.scss";
/*****************************/
/* HEADER */
#header {
  padding: 1.5em;
  position: fixed;
  width: 100%;
  z-index: 100;
  &.transparent {
    background-color:transparent;
    transition: background-color 0.3s;
    &.non-transparent {
      background-color: #000;
      transition: background-color 0.3s;
      -webkit-box-shadow: -4px 0px 15px 2px rgba(0, 0, 0, 0.1);
      box-shadow: -4px 0px 15px 2px rgba(0, 0, 0, 0.1);
      .navigation-wrapper {
        #menuToggle span {
          background: $basic-primary;
        }
      }
      .contact-wrapper {
        .icon-mail,
        .icon-phone {
          svg {
            fill: $basic-primary;
            transition: fill 0.3s;
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
    .header-logo {
      display: none;
      &:hover {
        color: #333333;
      }
      &.show {
        display: block;
        transition: display 0.3s;
        width: 1.8em;
      }
    }
  }

  /* NAVIGATION */
  .navigation-wrapper {
    cursor: pointer;
    order: 1;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    #menuToggle {
      display: block;
      position: relative;
      top: 0.2em;
      left: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    #menuToggle a {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s ease;
      transition: background-color 0.3s;
    }
    #menuToggle a:hover {
      li {
        background-color: $basic-primary;
        transition: background-color 0.3s;
      }
    }
    #menuToggle input {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      -webkit-touch-callout: none;
      z-index: 2;
    }
    #menuToggle span {
      display: block;
      width: 27px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: $basic-white;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      z-index: 1;
    }
    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    #menuToggle span:last-child {
      margin-bottom: 0 !important;
    }
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $basic-primary;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
      position: absolute;
      width: 300px;
      height: 106vh;
      margin: -3.2em 0 0 -56px;
      padding-top: 72px;
      color: #ffffff;
      background: #1c1c1c;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      opacity: 0.95;
      -webkit-box-shadow: -4px 0px 15px 2px rgba(0, 0, 0, 0.25);
      box-shadow: -4px 0px 15px 2px rgba(0, 0, 0, 0.25);
    }
    #menu a {
      color: $basic-white !important;
      &:hover {
        color: $basic-white !important;
      }
    }
    #menu li {
      padding: 0.75em 0.75em 0.75em 1em;
      font-size: 1.25em;
      color: $basic-white;
      &.subnav-item {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        font-weight: 300;
        svg {
          fill: $basic-white;
          width: 0.5em;
          height: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
    #menuToggle input:checked ~ ul {
      transform: none;
    }
  }
  /* LOGO */
  .logo-wrapper {
    order: 2;
    display: flex;
    justify-content: center;
    #logo {
      width: 9em;
    }
    #logo-mobile {
      display: none;
    }
  }
  /* CONTACT */
  .contact-wrapper {
    order: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    .icon-phone {
      margin-right: 1em;
      cursor: pointer;
      svg {
        width: 1.8em;
        height: 1.8em;
        fill: #fff;
        transition: fill 0.3s;
      }
    }
    .icon-mail {
      cursor: pointer;
      svg {
        width: 1.8em;
        height: 1.8em;
        fill: #fff;
        transition: fill 0.3s;
      }
    }
  }
}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 700px) {
}
