/* IMPORTS */
@import "../src/variables.scss";
body {
  color: #333333;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.1em;
  margin: 0;
  font-family: 'roboto-condensed' sans-serif;
}
p {
  line-height: 1.8em;
  font-weight: 100;
  color: #fff;
  font-family: 'roboto-condensed' sans-serif;
  font-size: 1.1em;
}
.highlight-color {
  color: $basic-primary;
}
.page {
  background-color: #262626;
}
h1,
h2,
h3,
h4 {
  font-family: intercom, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
  color: $basic-primary;
  &:hover {
    text-decoration: none;
    color: $basic-primary-hover;
  }
}
li {
  font-size: 1.2em;
}
.content-page {
  padding: 8em 4em;
  h1 {
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.4em;
    margin-top: 1.5em;
  }
  #spicyknife {
    width: 8em;
    margin: 1.5em 0;
  }

}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 700px) {
  body {
    font-size: 0.9em;
  }
    .content-page {
      padding: 8em 1.75em;
    }

}
