<section id="about-me">
  <div class="centered-content">
    <div class="about-me-images">
      <img class="main" src="../../assets/img/logo.webp" />
    </div>
    <div>
      <h1>Das ist Fuchs Baum</h1>
      <p>
        Seit mehr als 10 Jahren sind wir als Fachbetrieb für Baumpflege aktiv
        und bekannt.
      </p>
      <p>
        Wir helfen Privat- sowie Geschäftskunden Ihre Bäume sicher und gesund zu
        erhalten. (Privatgärten, Kommunen, Hausverwaltungen, Firmen)
      </p>
      <p>
        „Pflegen, erhalten, sichern… jeder Baum ist schützenswert. Bäume stellen
        einen wichtigen Teil unseres Ökosystems dar, ohne sie wäre unser Leben
        nicht möglich. Sie produzieren unseren lebensnotwendigen Sauerstoff und
        binden schädliche Treibhausgase wie CO2. Ein Baum braucht uns nicht um
        zu überleben, oder doch? Bäume sind ersetzbar: „Da wächst schon wieder
        einer!“… einfach gesagt. Und schnell werden 100 Jahre alte Bäume einfach
        gefällt mit den Argumenten sie seien gefährlich oder könnten jederzeit
        umfallen. In vielen Fällen stimmt dieses Argument nicht. Der Baum ist
        nicht generell gefährlich, er ist nur pflegebedürftig. Wir setzen uns
        für den Erhalt von Bäumen ein und geben diesen eine Stimme!“
        <strong style="font-style: italic">- Marco Fuchs</strong>
      </p>
    </div>
  </div>
  <div class="centered-content right">
    <div>
      <h3>Marco Fuchs</h3>
      <ul>
        <li>Baumpflege seit 2014</li>
        <li>Höhenarbeit seit 2008</li>
      </ul>
      <h4>Aus- und Weiterbildungen im Bereich Baumpflege:</h4>
      <ul>
        <li>
          2022 Zertifizierter Sachverständiger für Umweltbaubegleitung +
          Baumfachliche Baubegleitung
        </li>
        <li>2022 European Tree Technician EAC</li>
        <li>
          2021 Zertifizierter Sachkundiger für Baum-Habitatstrukturen – SachBaHa
        </li>
        <li>2019 European Treeworker EAC</li>
        <li>
          2017 SKT-B Seilklettertechnik in der Baumpflege
          (Fortgeschrittener-Kurs)
        </li>
        <li>
          2016 AS-Baum 1 Arbeitssicherheit Kettensäge gemäß UVV VSG 4.2 SVLFG
        </li>
        <li>2015 SKT-A Seilklettertechnik In der Baumpflege (Basis-Kurs)</li>
      </ul>
    </div>
    <div class="about-me-images">
      <img class="main" src="../../assets/img/about-me.webp" />
    </div>
  </div>
</section>
