<section id="about-me">
  <div class="centered-content">
    <div class="about-me-images order1">
      <img class="main" src="../../assets/img/logo-orange.png" />
    </div>
    <div class="description order2">
      <h1>Das ist <span class="highlight-color">Fuchs Baum</span></h1>
      <p>
        Wir bieten professionelle Baumpflege mit langjähriger Erfahrung in allen
        Bereichen rund um das Thema <strong>„Baum“</strong>.
      </p>
      <p>
        Durch unser eingespieltes Team aus qualifizierten Baumpflegern und
        Höhenarbeitern sichern wir Ihnen eine einwandfreie Ausführung unserer
        Arbeiten zu.
      </p>
      <p>
        Hierbei spielt auch der Kundenkontakt eine wichtige Rolle. Gerne nehmen
        wir uns die Zeit und gehen vorab alle Einzelheiten zu unseren Leistungen
        mit Ihnen durch.
      </p>
      <p>
        Die beste Werbung ist für uns ein zufriedener Kunde. Das hat sich in
        unserer langjährigen Erfahrung immer wieder bestätigt.
      </p>
      <div class="awards">
        <img class="award" src="../../assets/img/awards/awards-5.png" />
        <img class="award" src="../../assets/img/awards/awards-6.png" />
        <img class="award" src="../../assets/img/awards/awards-1.png" />
        <img class="award" src="../../assets/img/awards/awards-2.png" />
        <img class="award" src="../../assets/img/awards/awards-3.png" />
        <img class="award" src="../../assets/img/awards/awards-4.png" />
        <img class="award" src="../../assets/img/awards/awards-7.png" />
      </div>
    </div>
  </div>
  <div class="centered-content right">
    <div class="about-me-images">
      <img class="main" src="../../assets/img/marco.jpg" />
    </div>
    <div>
      <h3><span class="highlight-color">Marco Fuchs</span></h3>
      <ul>
        <li>Baumpflege seit 2014</li>
        <li>Höhenarbeit seit 2008</li>
      </ul>
      <h4>Aus- und Weiterbildungen im Bereich Baumpflege:</h4>
      <ul>
        <li>
          2023 Höhenrettung GRHT (Gewerbliche Rettung aus Höhen und Tiefen)
          Schulung nach ITRA Level 3
        </li>
        <li>
          2022 Zertifizierter Sachverständiger für Umweltbaubegleitung +
          Baumfachliche Baubegleitung
        </li>
        <li>2022 European Tree Technician EAC</li>
        <li>
          2021 Zertifizierter Sachkundiger für Baum-Habitatstrukturen – SachBaHa
        </li>
        <li>2019 European Treeworker EAC</li>
        <li>
          2017 SKT-B Seilklettertechnik in der Baumpflege
          (Fortgeschrittener-Kurs)
        </li>
        <li>
          2016 AS-Baum 1 Arbeitssicherheit Kettensäge gemäß UVV VSG 4.2 SVLFG
        </li>
        <li>2015 SKT-A Seilklettertechnik In der Baumpflege (Basis-Kurs)</li>
      </ul>
      <p class="zitat">
        „Pflegen, erhalten, sichern… jeder Baum ist schützenswert. Bäume stellen
        einen wichtigen Teil unseres Ökosystems dar, ohne sie wäre unser Leben
        nicht möglich. Sie produzieren unseren lebensnotwendigen Sauerstoff und
        binden schädliche Treibhausgase wie CO2. Ein Baum braucht uns nicht um
        zu überleben, oder doch? Bäume sind ersetzbar: „Da wächst schon wieder
        einer!“… einfach gesagt. Und schnell werden 100 Jahre alte Bäume einfach
        gefällt mit den Argumenten sie seien gefährlich oder könnten jederzeit
        umfallen. In vielen Fällen stimmt dieses Argument nicht. Der Baum ist
        nicht generell gefährlich, er ist nur pflegebedürftig. Wir setzen uns
        für den Erhalt von Bäumen ein und geben diesen eine Stimme!“
        <strong style="font-style: italic">- Marco Fuchs</strong>
      </p>
      <br />
      <p class="zitat">
        Zu fällen einen schönen Baum,<br />
        braucht's eine halbe Stunde kaum.<br />
        Zu wachsen, bis man ihn bewundert,<br />
        Braucht er, bedenkt es, ein Jahrhundert!<br />
        <br />
        <strong style="font-style: italic"
          >Gedicht: Der Baum <br />Eugen Roth (1895 - 1976)</strong
        >
      </p>
    </div>
  </div>
</section>
