<section id="leistungen">
  <div class="centered-content">
    <h1>Leistungen</h1>
    <p>
      Seit mehr als 10 Jahren sind wir als Fachbetrieb für Baumpflege aktiv und
      bekannt.
    </p>
    <p>
      Wir helfen Privat- sowie Geschäftskunden Ihre Bäume sicher und gesund zu
      erhalten. (Privatgärten, Kommunen, Hausverwaltungen, Firmen)
    </p>
    <div class="leistung-wrapper">
      <div class="leistung" id="leistung-1">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung1"
        >
          Baumpflege
        </a>

        <div
          class="modal fade"
          id="leistung1"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Baumpflege</h2>
                <div class="modal-text">
                  <p>
                    Schonende Form und Pflegeschnitte zur Erhaltung der
                    Baumgesundheit und Herstellung der Verkehrssicherheit.
                    Einkürzung der Baumkrone. Kronenpflege. Kronensicherung,
                    sowie Standortverbesserungen.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-2">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung2"
        >
          Baumfällung
        </a>

        <div
          class="modal fade"
          id="leistung2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Baumfällung</h2>
                <div class="modal-text">
                  <p>
                    Kosteneffiziente Baumfällungen mit Seilklettertechnik. Unter
                    allen Bedingungen, egal ob bebaute Wohnsiedlungen oder
                    Hinterhöfe. Wir kommen auch dorthin, wo Maschinen versagen.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-3">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung3"
        >
          Sturm Notdienst
        </a>

        <div
          class="modal fade"
          id="leistung3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Sturm Notdienst</h2>
                <div class="modal-text">
                  <p>
                    Bei Ihnen ist ein Baum umgestürzt oder Äste abgebrochen?
                  </p>
                  <p>
                    Hier kommen wir ins Spiel! Mit speziellen Techniken, wie der
                    Seilklettertechnik und Rigging-Technik, können wir sicher
                    und schnell Gefahren beseitigen.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-4">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung4"
        >
          Baumgutachten
        </a>

        <div
          class="modal fade"
          id="leistung4"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Baumgutachten</h2>
                <div class="modal-text">
                  <p>
                    Sie sind sich nicht sicher, ob Ihre Bäume noch gesund und
                    stabil in der Erde stehen? Zögern Sie nicht und kontaktieren
                    Sie uns für einen unverbindlichen Termin zur ersten
                    Einschätzung.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-5">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung5"
        >
          Baumbestandserfassung
        </a>

        <div
          class="modal fade"
          id="leistung5"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Baumbestandserfassung</h2>
                <div class="modal-text">
                  <p>
                    Sie haben einen größeren Baumbestand und wollen, dass sich
                    jemand darum kümmert? Egal ob 50 oder 5000 Bäume, wir
                    erfassen, verwalten und kontrollieren Ihren Baumbestand.
                    Zusätzlich beraten wir Sie rechtssicher nach aktuellen
                    Branchenrichtlinien in allen Belangen rund um Baumpflege und
                    Baumkontrolle.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-6">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung6"
        >
          Baubegleitung
        </a>

        <div
          class="modal fade"
          id="leistung6"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Baumfachliche Baubegleitung</h2>
                <div class="modal-text">
                  <p>
                    Sie sind Bauherr und haben Auflagen von Stadt oder Behörden
                    erhalten?
                  </p>
                  <p>
                    Wir beraten Sie zu allen Fragen bezüglich baumfachlicher
                    Baubegleitung und unterstützen Sie während des Bauvorhabens.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-7">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung7"
        >
          Höhenarbeiten
        </a>

        <div
          class="modal fade"
          id="leistung7"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <svg
                  class="info-icon"
                  viewBox="0 0 30 30"
                  width="30px"
                  height="30px"
                >
                  <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"
                  />
                </svg>
                <h2>Höhenarbeiten</h2>
                <div class="modal-text">
                  <p>
                    Durch unsere langjährige Erfahrung in der Seilklettertechnik
                    können wir auf verschiedene Lösungen im Bereich
                    Industrieklettern und gewerblicher Höhenrettung
                    zurückgreifen.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
