/*****************************/
/* IMPORTS */
@import "../../variables.scss";
/*****************************/
/* BERATUNG */
#leistungen {
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .centered-content {
    text-align: center;
    padding: 3em 1.5em;
    width: 100%;
    color: #fff;
    .leistung-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 4em;
      flex-wrap: wrap;
      #leistung-1 {
        background-image: url('../../assets/img/baumpflege.jpg');
        background-size: cover;
      }
      #leistung-2 {
        background-image: url('../../assets/img/baumfaellung.jpg');
        background-size: cover;
      }
      #leistung-3 {
        background-image: url('../../assets/img/notdienst.jpg');
        background-size: cover;
      }
      #leistung-4 {
        background-image: url('../../assets/img/baumgutachten.jpg');
        background-size: cover;
      }
      #leistung-5 {
        background-image: url('../../assets/img/baumbestand.jpg');
        background-size: cover;
      }
      #leistung-6 {
        background-image: url('../../assets/img/beratung.jpg');
        background-size: cover;
      }
      #leistung-7 {
        background-image: url('../../assets/img/industrieklettern.jpg');
        background-size: cover;
      }
      .leistung {
        width: 24%;
        // width: 33%;
        height: 20em;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .4s;
          font-weight: 500;
          color: #fff;
          font-size: 1.5em;
          text-transform: uppercase;
          font-family: intercom, sans-serif;
          &:hover {
            background-color: $basic-primary-hover;
            opacity: .85;
            transition: .4s;
            color: #fff;
          }

        }
        img {
          width: 100%;
        }
      }
    }
    h1 {
      margin-bottom: 0.25em;
    }
  }
  button {
    &.modal-button {
      width: 100%;
      padding: 1em;
      background-color: $basic-primary;
      box-shadow: none;
      border: 0;
      color: $basic-white;
      letter-spacing: 0.2em;
      transition: background-color 0.3s;
      &:hover {
        background-color: $basic-primary-hover;
        transition: background-color 0.3s;
      }
    }
  }
}
/*****************************/
/* MODAL */
/*****************************/
.modal-dialog {
  max-width: 50em;
  .modal-content {
    .modal-header {
      background-color: $basic-primary;
      color: #fff;
      letter-spacing: 0.2em;
      .btn-close {
        color: #fff;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .modal-body {
    background-color: #272727;
    padding-top: 2em;
    .info-icon {
      fill: #fff;
      width: 3.5em;
      height: 3.5em;
      margin-bottom: 0.5em;
    }
    .modal-theme {
      height: 5em;
      width: 100%;
      &.baumpflege {
        background-image: url('../../assets/img/baumpflege.jpg');
        background-size: cover;
      }
    }
  }
  .modal-text {
    text-align: left;
  }
  .modal-footer {
    background-color: #272727;
    button {
      &.back-button {
        max-width: 20em;
      padding: 1em;
      background-color: $basic-primary;
      box-shadow: none;
      border: 0;
      color: $basic-white;
      letter-spacing: 0.2em;
      transition: background-color 0.3s;
      display: block;
      &:hover {
        background-color: $basic-primary-hover;
        transition: background-color 0.3s;
      }
      }
    }
  }
  ul {
    text-align: left;
  }
}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* MOBILE */
/*****************************/
@media (max-width: 700px) {
  .leistung-wrapper {
    display: block !important;
    .leistung {
      width: 100% !important;
    }
  }
}
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* TABLET */
/*****************************/
@media (max-width: 900px) {
  .leistung {
    width: 48.5% !important;
  }
}
