<section id="leistungen">
  <div class="centered-content">
    <h1>Leistungen</h1>
    <p>
      Wir bieten professionelle Baumpflege mit langjähriger Erfahrung in allen
      Bereichen rund um das Thema Baum.
    </p>
    <div class="leistung-wrapper">
      <div class="leistung" id="leistung-1">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung1"
        >
          Baumpflege
        </a>

        <div
          class="modal fade"
          id="leistung1"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-2">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung2"
        >
          Baumfällung
        </a>

        <div
          class="modal fade"
          id="leistung2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  class="icon stillen"
                  src="../../assets/img/grafik/mother.png"
                />
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-3">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung3"
        >
          Sturm Notdienst
        </a>

        <div
          class="modal fade"
          id="leistung3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  class="icon stillen"
                  src="../../assets/img/grafik/mother.png"
                />
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-4">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung4"
        >
          Baumgutachten
        </a>

        <div
          class="modal fade"
          id="leistung4"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  class="icon stillen"
                  src="../../assets/img/grafik/mother.png"
                />
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-5">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung5"
        >
          Baumbestandserfassung
        </a>

        <div
          class="modal fade"
          id="leistung5"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  class="icon stillen"
                  src="../../assets/img/grafik/mother.png"
                />
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-6">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung6"
        >
          Umweltbaubegleitung
        </a>

        <div
          class="modal fade"
          id="leistung6"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  class="icon stillen"
                  src="../../assets/img/grafik/mother.png"
                />
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leistung" id="leistung-7">
        <a
          type="button"
          class="modal-button"
          data-bs-toggle="modal"
          data-bs-target="#leistung7"
        >
          Höhenarbeiten
        </a>

        <div
          class="modal fade"
          id="leistung7"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  class="icon stillen"
                  src="../../assets/img/grafik/mother.png"
                />
                <h2>Leistung 1</h2>
                <div class="modal-text">
                  <p>Test</p>
                  <!-- <ul>
                    <li>Stillpositionen/Stilltechniken</li>
                  </ul> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="back-button"
                  data-bs-dismiss="modal"
                >
                  Zurück
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
